---
deployment:
  tasks:
    - export DEPLOYPATH=/home/u1728888/public_html/api/
    - /bin/cp -R public $DEPLOYPATH
---
deployment:
  tasks:
    - export DEPLOYPATH=/home/u1728888/public_html/api
    - /bin/cp server.php $DEPLOYPATH
    # - /bin/cp style.css $DEPLOYPATH
